@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header, nav, main, footer{
	width: 100%;
}
header{
	background-color: #1B0018;
	color: #A83854;
	height: auto;
	text-align: center;
	padding: 40px;
	font-size: 40px;
}
nav{
	padding:40px;
	background-color: #FFCCCC;
	color: #A83854;
	font-weight: bold;
}
nav ul{
	display: flex;
}
nav ul li{
	width: 150px;
	list-style-type: none;
	margin-left: 18px;
	text-align: center;
}
main{
	display:flex;
	background-color: #1B0018;
	flex-direction:column;
	align-items:center;
}
main section{
	width: 80%;
	margin: 30px;
	background-color: #BE96FF;
	color: #1B0018;
	padding: 30px;
}
footer{
	display: flex;
	background-color: #FFCCCC;
	height: auto;
	text-align: center;
	padding: 30px 0px;	
}
footer h5{
	display: flex;
	color: #A83854;
	height: auto;
	text-align: center;
	padding: auto;
	margin:40px auto;
	font-size: 20px;
}

.contenedor-flexible{
	background-color: #ED756E;
	display: flex;
}

.contenedor-flexible >div, .contenedor-flexible-1 >div, .contenedor-flexible-2 >div, .contenedor-flexible-3 >div, .contenedor-flexible-4 >div, .contenedor-flexible-5 >div, .contenedor-flexible-6 >div, .contenedor-flexible-7 >div{
	
	width: 400px;
	height:50px;
	background-color: #FFC2AD;
	margin:10px;
	padding: 30px;
	font-size:32px;
	text-align:center;

}
.contenedor-flexible-1 >div{
	widht: 30%;
}
.contenedor-flexible-3 >div{
	widht: 20%;
}
.contenedor-flexible-4 >div{
	height:auto;
}
.contenedor-flexible-5 >div{
	width: 10%;
	height: auto;
}
.contenedor-flexible-6 >div{
	widht: 100px;
}
.contenedor-flexible-7 >div{
	width: 200px;
	height: 200px;
}
.contenedor-flexible-1{
	background-color: #ED756E;
	displa: flex;
	flex-direction: column-reverse;
}
.contenedor-flexible-2{
	background-color: #ED756E;
	display: flex;
	flex-wrap: wrap;
}
.contenedor-flexible-3{
	background-color: #ED756E;
	display: flex;
	justify-content:space-between;
}
.contenedor-flexible-4{
	background-color: #ED756E;
	display:flex;
	height: 400px;
	align-items: stretch;
}
.contenedor-flexible-5{
	background-color:#ED756E;
	display: flex;
	height: auto;
	align-items: baseline;
}
.contenedor-flexible-6{
	background-color: #ED756E;
	display: flex;
	height: auto;
	flex-wrap: wrap;
	align-content: space-around;
}
.contenedor-flexible-7{
	background-color: #ED756E;
	display: flex;
	height: 800px;
	justify-content: center;
	align-items: center;
}